/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --background-image: url("../images/cover-image-light.png");
  --page-font-family: 'IBM Plex mono';
  --border-color: #353430;
  --main-page-color: #FF8DCB;
  --menu-button-color: #353430;
  --h1-font-color: #FFC2E6;
  --h1-shadow-color: #FF8DCB;
  --h3-background-color: #FF8DCB;
  --h3-font-color: #353430;
  --theme-menu-font-color: #353430;
  --h2-font-color: #353430;
  --background-color: #FFF1F7;
  --card-text-color: #353430;
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}

.header__top-angle-text {
  display: none;
}

.header__top-angle-circle {
  display: none;
}

