.page {
  width: 100%;

  background-color: var(--background-color);
  background-image: var(--page-background-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  display: grid;
  grid-template-rows: auto auto var(--footer-height);

  overflow-x: hidden;
  margin: 0 auto;
  font-family: var(--page-font-family);
  color: var(--text-color);
}

.header {
  position: relative;
  display: grid;
  height: 668px;
  gap: 35px;
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header__top-angle {
  display: flex;
  justify-content: end;
  align-content: center;
  margin-inline-end: 10px;
  margin-block-start: 10px;
  gap: 5px;
}

.header__top-angle-text {
  color: var(--theme-menu-font-color);
  font-family: var(--page-font-family);
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  padding-block-start: 2px;
}

.header__top-angle-circle {
  justify-self: center;
  align-self: center;
  margin-inline-start: 7px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: var(--accent-color, var(--main-page-color));
  box-shadow: 0px 0px 4px 2px var(--main-page-color);
}

.header__top-angle-element {
  display: flex;
  width: 25px;
  height: 25px;
  
  border-top: 2px solid var(--accent-color, var(--border-color));
  border-right: 2px solid var(--accent-color, var(--border-color));
}

.header__top-angle-element:nth-of-type(2) {
  position: absolute;
  border-top: none;
  border-right: none;
  align-self: end;
  border-left: 2px solid var(--accent-color, var(--border-color));
  border-bottom: 2px solid var(--accent-color, var(--border-color));
  margin-inline-start: var(--margin-inline);
  margin-block-end: var(--margin-inline);
}


.header__theme-menu {
  justify-self: end;
  position: absolute;
  margin-block-start: 75px;
  margin-inline-end: 10px;
  margin-inline-end: 10px;
}

.header__theme-menu-list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 2px 12px;
  background: transparent;
  color: var(--accent-color, var(--menu-button-color));
  text-transform: lowercase;
  font-family: var(--page-font-family);
  cursor: pointer;
  font-size: var(--menu-font-size);
}

.header__theme-menu-button_active {
  border-color: currentColor;
  pointer-events: none;
}

.header__title {
  position: absolute;
  justify-self: start;
  font-family: var(--page-font-family);
  font-size: var(--h1-font-size);
  font-weight: var(--h1-font-weight);
  line-height: var(--h1-line-height);

  color: var(--h1-font-color);
  text-shadow: 4px 4px 0 var(--h1-shadow-color);
}


.header__decription {
  margin-inline: 10px;
  padding: 8px 10px;
  width: fit-content;
  height: fit-content;
  position: absolute;
  inset: 0;
  margin: auto;
  margin-block-end: 17%;
  margin-inline: 10px;
  padding: 0;
  color: var(--h3-font-color);
  background-color: var(--h3-background-color);

  font-family: var(--page-font-family);
  font-size: var(--h3-font-size);
  font-weight: var(--h3-font-weight);
  line-height: var(--h3-line-height);
}


.main__card_block_title {
  font-family: var(--page-font-family);
  font-weight: var(--h2-font-weight);
  font-style: var(--h2-font-style);
  font-size: var(--h2-font-size);
  line-height: var(--h2-line-height);
  color: var(--h2-font-color);
  margin-inline: var(--margin-inline);
  margin-block: 0;
}

.main__card_block_element_title {
  color: var(--h3-font-color);
  background-color: var(--h3-background-color);
  font-family: var(--page-font-family);
  font-weight: var(--h3-font-weight);
  font-style: var(--h3-font-style);
  font-size: var(--h3-font-size);
  line-height: var(--h3-line-height);
  margin-inline: var(--margin-inline);
}

.main__card_block_element_text {
  font-family: var(--page-font-family);
  font-weight: var(--card-text-font-weight);
  font-style: var(--card-text-font-style);
  font-size: var(--card-text-font-size);
  line-height: var(--card-text-line-height);
  color: var(--card-text-color);

}

.main__card_block_sub_title {
  color: var(--h3-font-color);
  background-color: var(--h3-background-color);
  font-family: var(--page-font-family);
  font-weight: var(--h3-font-weight);
  font-style: var(--h3-font-style);
  font-size: var(--h3-font-size);
  line-height: var(--h3-line-height);
  margin-inline: var(--margin-inline);
}

.main__card_block:nth-child(3) .main__card_block_element_title {
  font-weight: var(--h3-font-weight-after-subtitle);
}

.main__images_block_title {
  color: var(--h3-font-color);
  background-color: var(--h3-background-color);
  font-family: var(--page-font-family);
  font-weight: var(--h3-font-weight);
  font-style: var(--h3-font-style);
  font-size: var(--h3-font-size);
  line-height: var(--h3-line-height);
  margin-block-start: 50px;
}

.main__images_block {
  display: grid;
  margin-inline: var(--margin-inline);
  margin-block-end: 40px;
}

.main__gallery {
  display: grid;
  gap: 10px;
}

.main__gallery_item {
  justify-self: center;
  align-self: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}

.footer {
  display: grid;
  height: var(--footer-height);
  position: relative;
}

.footer__title {
  position: absolute;
  color: var(--h1-font-color);
  text-shadow: 2px 2px 0 var(--h1-shadow-color);
  font-size: var(--h1-font-size);
  font-family: var(--page-font-family);
  font-weight: var(--h1-font-weight);
  font-style: var(--h1-font-style);

  line-height: var(--h1-line-height);
  align-self: center;
  justify-self: center;
}

.footer__top-angle:nth-of-type(1) {
  width: 25px;
  height: 25px;
  margin-inline-end: 10px;
  margin-block-start: 10px;
  align-self: start;
  justify-self: end;
  border-top: 2px solid var(--accent-color, var(--border-color));
  border-right: 2px solid var(--accent-color, var(--border-color));
}

.footer__top-angle:nth-of-type(2) {
  width: 25px;
  height: 25px;
  margin-inline-start: 10px;
  margin-block-end: 10px;
  align-self: end;
  justify-self: start;
  border-bottom: 2px solid var(--accent-color, var(--border-color));
  border-left: 2px solid var(--accent-color, var(--border-color));
}

@media (width >= 768px) {
  :root {
    --margin-inline: 20px;
  }

  .header__top-angle {
    margin-inline-end: 20px;
    margin-block-start: 20px;
  }

  .header__top-angle-element:nth-of-type(2) {
    margin-inline-start: 20px;
    margin-block-end: 20px;
    align-self: end;
  }

  .header__theme-menu {
    position: absolute;
    align-self: start;
    margin-block-start: 19%;
    margin-inline-end: 20px;
  }

  .header__title {
    position: absolute;
    inset: 0;
    color: var(--h1-font-color);
    text-shadow: 4px 4px 0 var(--h1-shadow-color);
    justify-self: start;
    align-self: center;
  }


  .header__decription {
    margin-inline: 10px;
    padding: 8px 10px;
    width: fit-content;
    height: fit-content;
    position: absolute;
    inset: 0;
    margin: auto;
    margin-block-end: 17%;
  }

  .header {
    height: 1024px;
  }
  
  .header__decription {
    width: 48%;
    padding: 0;
    justify-self: end;
    margin-inline-end: 20px;
  }

  .main__card_block:nth-of-type(1) {
    display: grid;
    width: 100%;
    grid-template-columns: auto 472px;
    justify-self: end;
    grid-template-rows: 1fr 1fr;
    margin-inline: 20px;
    margin-block-start: 60px;
  }


  .main__card_block:nth-of-type(1) .main__card_block_element {
    margin-block-end: 20px;
  }

  .main__card_block:nth-of-type(1) .main__card_block_element:not(:first-of-type) {
    grid-column: 2;
  }

  .main__card_block:nth-of-type(1) .main__card_block_element_text {
    height: fit-content;
    width: fit-content;
    margin: 0 auto;
    margin-block-start: 10px;
  }

  .main__card_block:nth-of-type(1) .main__card_block_title {
    grid-column: 1;
    padding-inline-start: 20px;
    
  }

  .main__card_block:nth-of-type(2) {
    display: grid;
    grid-template-rows: auto min-height;
    margin-block: 60px 0;
    padding-block: 0;
    height: fit-content;
    gap: 20px;

  }

  .main__card_block:nth-of-type(2) .main__card_block_title {
    width: 30%;
  }

  .main__card_block:nth-of-type(2) .main__card_block_element {
    height: fit-content;
    margin-block: 0;
  }

  .main__card_block:nth-of-type(2) .main__card_block_element_text {
    height: fit-content;
    margin-block: 10px;
  }

  .main__card_block_element_title {
    margin: 0 auto;
  }

  .main__card_block:nth-of-type(2) .main__card_block_element_title {
    height: fit-content;
    margin-block: 0;
  }

  .main__card_block:nth-of-type(3) {
    margin-block-start: 80px;
    display: grid;
    grid-template-columns: auto 65%;
    gap: 20px;
  }

  .main__card_block:nth-of-type(3) .main__card_block_title {
    grid-column: 1;
  }

  .main__card_block:nth-of-type(3) .main__card_block_sub_title {
    grid-column: 2;
    height: fit-content;
    margin-block: 0;
  }

  .main__card_block:nth-of-type(3) .main__card_block_element_text {
    margin-block: 0;
  }

  .main__card_block:nth-of-type(3) .main__card_block_element_title {
    margin-block: 0;
    width: 399px;
  }

  .main__card_block:nth-of-type(3) .main__card_block_element {
    margin-block: 0;
  }

  .main__card_block:nth-of-type(3) .main__card_block_column {
    display: flex;
    flex-direction: column;
    grid-column: 2;
    gap: 20px;
  }

  .main__images_block {
    margin-inline: var(--margin-inline);
    margin-block-end: 60px;
  }

  .main__images_block_title {
    margin-inline: 0;
  }
  
  .main__gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 192px 230px 318px;
    gap: 20px;
  }

  .main__gallery_item:nth-of-type(1) {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .main__gallery_item:nth-of-type(2) {
    grid-column: 3;
    grid-row: 1 / 3;
    
  }

  .main__gallery_item:nth-of-type(3) {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .main__gallery_item:nth-of-type(5) {
    grid-column: 2 / 4;
  }
  .footer {
    height: 768px;
  }

  .footer__top-angle:nth-of-type(1) {
    margin-inline-end: 20px;
    margin-block-start: 20px;
  }

  .footer__top-angle:nth-of-type(2) {
    margin-inline-start: 20px;
    margin-block-end: 20px;
  }
}

@media (width >= 1024px) {
  :root {
    --h1-font-size: 157px;
  }

  .header {
    height: 768px;
  }

  .header__title {
    font-size: var(--h1-font-size);
  }

  .header__decription {
    width: 491px;
    margin-block-end: 134px;
    margin-inline-end: 20px;
  }
  .header__theme-menu {
    position: absolute;
    align-self: start;
    justify-self: center;
    margin-block-start: 20px;
  }

  .header__theme-menu-list {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .header__top-angle {
    display: flex;
  }


  .main__card_block_row {
    display: flex;
    gap: 20px;
    margin-inline: 20px;
  }

  
  .main__card_block:nth-of-type(1) .main__card_block_element {
    width: 649px;
  }

  .main__card_block_element_text {
    width: 100%;
    text-overflow: wrap;
  }

  .main__card_block:nth-of-type(1) {
    grid-template-columns: auto 649px;
  }

  .main__card_block:nth-of-type(2) {
    display: grid;
    grid-template-rows: auto min-height;
    padding-block: 0;
    height: fit-content;
    gap: 20px;

  }

  .main__card_block:nth-of-type(2) .main__card_block_title {
    width: 30%;
  }

  .main__card_block:nth-of-type(2) .main__card_block_element {
    height: fit-content;
    margin: 0;
    width: 33%;
  }

  .main__card_block:nth-of-type(2) .main__card_block_element_text {
    height: fit-content;
    margin-block: 10px 0;
  }

  .main__card_block:nth-of-type(2) .main__card_block_element_title {
    height: fit-content;
    margin-block: 0;
    margin: 0;
  }

}




